@import '~view-design/src/styles/index.less';
@import './assets/styles/color.less';

@menu-dark-title: transparent;
@menu-dark-subsidiary-color: @my-text-color;
@menu-dark-active-bg: transparent;
// @menu-dark-group-title-color: #A2E9FD;
@layout-sider-background: @sidebar-menu-bg-color;


.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active, .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
  color: #F1B81F;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-child-item-active > .ivu-menu-submenu-title {
  color: #A2E9FD;
}
.header-bar {
  background-color: @sidebar-menu-bg-color;
}
.home .ivu-card:hover {
  box-shadow: 0 1px 6px rgba(255, 255, 255, 0.5);

}